.btn{
  /* width: 200px; */
  cursor: pointer;
  /* margin: 0 auto; */
  background-image: linear-gradient(45deg, #F54B64,
  #F78361);
  /* color: white; */
  /* padding: 15px 30px; */
  /* border-radius: 30px; */
  filter: drop-shadow( 3px 3px 6px #000000);
  /* transition: ease all .5s; */
  /* margin-bottom: 20px;  */
}

.navbar{
  background-color:rgb(41,189,193);
}

.profile-image {
  width: 100%;
  
}




